* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg,black,red,black);
}
nav {
    max-width: 90%;
    margin: auto;
    background-color: black;
    font-size: 20px;
    margin-top: 25px;
    z-index: 1;
}
.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu-horizontal > li:hover {
    background-color: red;
}